@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #fff;
    --color-text-muted: #c7d2fe;

    --color-fill: red;
    --color-fill-inverted: purple;

    --color-button-accent: purple;
    --color-button-accent-hover: #eef2ff;
  }
  .theme_green {
    --color-fill: green;
  }
  .theme_blue {
    --color-fill: blue;
  }
}

/* .theme-primary {
  background: green;
}

.text-primary {
  color: white;
} */
